@use "../abstracts/mixins";

.post-input {
  padding-top: 20px;

  .post-input__textarea {
    @include default_input();

    overflow: hidden;
    width: 100%;
  }

  .post-input__bottom {
    display: flex;
    align-items: center;
  }

  .post-input__icon {
    width: 28px;
    height: 28px;

    cursor: pointer;
  }

  .post-input__text-length {
    margin-left: 5px;
  }

}